body{
    font-family: 'Inter';
    position: relative;
    background-color: #0D1117;
    color: #D1D7E1;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
    min-width: 450px;
}
.bar{
    display: flex;
    position: sticky;
    top: 0px;
    font-size: 25px;
    background-color: #0D1117;
    z-index: 1000;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    width: calc(100vw- 2px);
    border-bottom: 2px solid #404C5B;
}
.bar a{
    margin: 20px;
    text-decoration: none;
    color: #D1D7E1;
}
.nav{
    text-decoration: none;
    color: #D1D7E1;
}
header img { 
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.page{
    margin: auto;
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-size: 1em;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    max-width: 1100px;
}
.component{
    position: relative;
    background-color: #212830;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    border: 2px solid #404C5B;
    font-size: 1em;
    min-width: 100px;
    min-height: 300px;
    width: 100%;
}


.component.card{
    min-height: 200px;
    flex-direction: row;
    max-height: 197px;
    align-items: center;
    font-size: 1em;
    margin-top: 20px;
}
.component.settings.opt{
    max-width: 440px;

}
#component-body{
    margin-top: 15px;
    margin-right: 20px;
    grid-column-gap: 50px;
    grid-row-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
}

@media (max-width: 1100px) {
    #component-body {
        display: block;
    }

    #component-body li {
        display: block;
        margin-bottom: 5px; 
    }

    #component-body div {
        display: block; 
        margin-left: 10px;
        margin-bottom: 20px; 
    }
}
.title{
    display: block;
    color: #d1d7e189;
    width: 100%;
    border-bottom: 2px solid #404C5B;

}
.title h3{
    margin: 20px;
}
.component__options{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-wrap: nowrap;
    display: flex;
    gap: 20px;
}

.description p{
    color: #d1d7e189;
}
#img-icon{
    height: max-content;
    position: relative;
    text-align: center;
    
}
#img-icon img{
    width: 200px;
    height: 150px;
}
p{
    padding-left: 20px;
    color: #d1d7e1;
}
li{
    display: block;
    color: #d1d7e189;
    align-items: center;
}
#nav-name{
    color: #d1d7e189;
}